@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="renderDiv">
    <h2>Projects</h2>
    <p>
        <button id="buttonNew" class="btn btn-primary" data-href="/Projects/New">New Project</button>
    </p>

    <table id="projects" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#projects").DataTable({
                ajax: {
                    url: "/api/projects",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"/*,
                        render: function(data, type, project) {
                            return "<a href='/projects/edit/" + project.id + "'>" + project.name + "</a>";
                        }*/
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-project-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#projects").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this project?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/projects/" + button.attr("data-project-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

            $("#buttonNew").on("click", function (e) {
                e.preventDefault();
                var page = $(this).attr("data-href");
                $(".renderDiv").load(page);
            });
        });
    </script>
}
