@model int?
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project</h2>

<div class="row">
    <div class="col-md-4 col-sm-4">
        <ul id="task" class="list-group"></ul>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Projects/project.js"></script>
}
