@model int?
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="header"></h2>

<div class="row">
    @*<div class="col-md-4 col-sm-4">
        <ul id="task" class="list-group"></ul>
    </div>*@
    <table id="tasksTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th> Priority</th>
                <th>Deadline</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    <script src="~/Scripts/Projects/project.js"></script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/projects/" + @Model,
                type: "GET",
                success: function (data) {
                    $("#header").text(data.name);
                    myFunction(data.tasks);
                },
                error: function (data) {
                    alert('Error loading: Not found');
                }
            });
        });
    </script>
}
